@charset "utf-8";

* {
  margin: 0;
}

#red {
  float: right;
  color: red;
}

#green {
  float: right;
  color: green;
}

.container {
  margin-top: 50px;
}

.card-header {
  background: #353131;
}
.card-header,
.list-group {
  width: 85%;
  margin: 0 auto;
}

#header {
  height: 100px;
  background: #391e1e;
  text-align: center;
}

#header h1 {
  padding-top: 10px;
  color: white;
}

#footer h4 {
  text-align: center;
  padding-top: 10px;
}

#footer i {
  padding-top: 10px;
  color: #111013;
  transition: 0.5s;
}

#footer i:hover {
  transition: 0.5s;
  color: white;
}

#footer h5 {
  text-align: center;
  padding-top: 10px;
}

.spacing {
  padding: 20px;
}

.container li {
  list-style-type: none;
  display: none;
}
