<!DOCTYPE html>
<html>
  <head>
    <title>Talented Status</title>
    <style>
      body{background: darkgrey;}
      h1{color: white;}
    </style>
    <body>
      <b><i><center><h1>Talented Status</h1></center></i></b>
      <hr width=1500 height=200 color=darkred />
      <br><br>
      <h2 style="color:white">Talented Login Website - <center<div style="color:green">Online</div></h2>
          <h2 style="color:white">Talented Signup Website - <center<div style="color:green">Online</div></h2>
        <h2 style="color:white">Talented Login System - <center<div style="color:red">Offline</div></h2>
      <h2 style="color:white">Talented Signup System - <center<div style="color:red">Offline</div></h2>
      <h2 style="color:white">Talented Profile Website/System - <center<div style="color:red">Offline</div></h2>
      <h2 style="color:white">Talented Upload System - <center<div style="color:red">Offline</div></h2>
      <h2 style="color:white">Talented Chat System - <center<div style="color:red">Offline</div></h2>
    <p style="color:white"> Need support?
      <center<div style="color:red"><a href="https://discord.gg/8gWvN7j"> https://discord.gg/8gWvN7j </a>  or jdcoding01@gmail.com</div></p>
      
<p style="color:red">&copy; Talented 2018</p>
</body>
</html>